{% extends 'base.html' %}

{% load static %}
     	{% block navbar %}
                {% include 'navbar.html' %}
         {% endblock %}

{% block main %}
	<div class="container text-center">
            <div class="contr text-center">
		<h3>View Sample Images</h3>
            			
	    </div>
	
    {% if documents %}
        <ul>
        {% for document in documents %}
	{% if document.galimage.url %}
                  <img class="padstyle" src="{{ document.galimage.url }}" width="600" height="400">
	{% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
    </div>
{% endblock %}      

{% block logger %}
    {% include 'registration/loger.html' %}
{% endblock %}
